<svg class="bruger_icon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
viewBox="0 0 50 50" xml:space="preserve">
    <style type="text/css">
        .bruger_icon{fill:url(#burger_gradient);}
    </style>
    <linearGradient id="burger_gradient" gradientUnits="userSpaceOnUse" x1="0" y1="0" x2="50" y2="50">
        <stop  offset="0" style="stop-color:#b6667d"/>
        <stop  offset="1" style="stop-color:#1598d1"/>
    </linearGradient>
    <rect x="1.5" y="21.1" class="burger_path burger_2" width="47" height="5.8"/>
    <rect x="1.5" y="5.4" class="burger_path burger_1" width="47" height="5.8"/>
    <rect x="1.7" y="36.7" class="burger_path burger_3" width="47" height="5.8"/>
</svg>